img{
    max-width: 100%;
    max-height: 100%;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header>div{
    display:inline;
}

.left{
    float: left;
    background-color:white;
    padding: 0;
    width: 59%;
    height: 100%;
    margin: 0;
}
.right{
   float:right;
   background-color:rgb(20, 8, 88);
   width:30%;
   min-height:48em;
   margin:0;
   padding:0;
}
.container{
    margin:0;
    width:80%;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
}
#graph1{
    height: 200px;
    width: 400px;
    background-color:blue;
    margin:auto;
    margin-right:0;
}
#stats1{
    height:100%;
    width:30%;
    padding:5%;
}
#logoimg{
    width: 10%;
    height: 10%;
}
